.esteban-item-container{
    display: flex;
    max-width: 90%;
}

.esteban-item-container img{
 height: 50px;
 margin: 10px 0 0  15px;
}



.esteban-item-container label{
    margin: 5px 0 0  10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #4AC29A;
    padding:10px;
    border-radius: 5px;
    width: fit-content;
    font-weight: normal;
    box-sizing: border-box;
}

.esteban-item-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}