.esteban-item-container{
    display: flex;
    width: auto;
    align-items: center;
}

.esteban-item-container img{
 height: 50px;
 margin: 10px 0 0  15px;
}

.esteban-item-container label{
    margin: 5px 0 0  10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #4AC29A;
    padding:10px;
    border-radius: 5px;
    width: fit-content;
    max-width: 7%;
    font-weight: normal;
    box-sizing: border-box;
}